body {
    background-image: url(https://images.unsplash.com/photo-1564506414752-a73fbe0c6b00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80);
}
.newsletter {
    text-align: center;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    padding-top: 100px;
}
.newsletter > img {
    mix-blend-mode: difference;
}
.newsletter > img:hover {
    mix-blend-mode: normal;
}
.newsletter > .cute {
    mix-blend-mode: normal;
}
